body {
    background-image: url("http://wallpapercave.com/wp/n9HpwwR.jpg");
    }

.jumbotron {
    background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_crystal_surface.jpg");
    text-align: center;
    }
#instructions {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: strong;
    }
#crystalContainer {
	border:2px solid black;
	text-align: center;
	background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_crystal_surface.jpg"); 
}
#randomNumber {
	border:2px solid black;
	text-align: center;
	background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_crystal_surface.jpg"); 
}
#score {
	border:2px solid black;
	text-align: center;
	background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_crystal_surface.jpg"); 
}
#yourWins {
	border:2px solid black;
	text-align: center;
	background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_crystal_surface.jpg");
}
#yourlosses {
	border:2px solid black;
	text-align: center;
	background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_crystal_surface.jpg");
	
}
#spacer {
	visibility: hidden;
}
